@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: Faune;
  font-weight: 400;
  src: url(assets/faune-regular.woff2), url(assets/faune-regular.woff);
}

@font-face {
  font-family: Faune;
  font-weight: 400;
  font-style: italic;
  src: url(assets/faune-italic.woff2), url(assets/faune-italic.woff);
}

@font-face {
  font-family: Faune;
  font-weight: 700;
  src: url(assets/faune-bold.woff2), url(assets/faune-bold.woff);
}

body {
  font-family: Faune, sans-serif;
  color: #2a2a2a;
  margin: 0 0 0 400px;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}

section.settings {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fafafa;
  padding: 40px;
  width: 320px;
}

div.settings {
  margin: 32px 0;
}

input {
  display: block;
  padding: 12px 16px;
  margin: 8px 0 0 0;
  width: 91%;
}

input[type='text'] {
  width: 91%;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 12px;
  transition: border-color 0.3s ease;
}

input[type='text']:focus {
  border: 1px solid #a8a8a8;
}

input[type='range'] {
  width: 91%;
}

select {
  appearance: none; /* Standard property */
  -webkit-appearance: none; /* For WebKit browsers */
  -moz-appearance: none; /* For Firefox */
  width: 100%;
  padding: 12px 16px;
  margin-top: 8px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #2a2a2a;

  background-image: url('assets/chevron.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
}

select:focus {
  border: 1px solid #a8a8a8;
}

select.option {
  margin-top: 8px;
}

textarea.output {
  font-size: 64px;
  background: none;
  border: none;
  outline: none;
  padding: 40px;
  width: 100%;
  height: 100vh;
}

label span {
  float: right;
}

div.colors {
  display: flex;
}

div.colors div {
  margin: 8px;
  height: 32px;
  width: 32px;
  line-height: 1.6;
  color: #000;
  background-color: #e6e6e6;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  text-align: center;
  transition: border 0.25s;
}

div.colors div.selected {
  border: 2px solid #a8a8a8;
}

div.settings-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: #e6e6e6;
}

input[type='checkbox']:checked {
  background-color: #2a2a2a;
  background-image: url('assets/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}
